<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Leave a comment</h3>
  <div class="field form-group">
    <%= f.text_field :author, :placeholder =>  "Name", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.text_area :body, :placeholder => "Comment", class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
